cryptography==39.0.1    # Для шифрування (ChaCha, X25519)
flask==2.2.3            # Для створення веб-застосунку (якщо необхідно у майбутньому)
Flask-SocketIO==5.3.0   # Pозширення для Flask, яке додає підтримку WebSocket-прот
pytest==7.0.1           # Для написання і запуску тестів
python-dotenv==1.0.0    # Для зручного завантаження конфігурацій з файлу .env
colorama                # Додає кольорове форматування тексту в терміналі (зручне для логування та дебагу)
werkzeug==2.2.3

