[ req ]
default_bits        = 2048
prompt              = no
default_md          = sha256
distinguished_name  = req_distinguished_name
x509_extensions     = v3_req

[ req_distinguished_name ]
C                   = UA
ST                  = Kyiv
L                   = Kyiv
O                   = e2ee_project
CN                  = localhost

[ v3_req ]
subjectAltName=DNS:localhost,IP:127.0.0.1,email:mishel3141@gmail.com

[ alt_names ]
DNS.1               = localhost
IP.1                = 127.0.0.1
email.1 = mishel3141@gmail.com